* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  /* Header Styles  */
  
  header {
    z-index: 10;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: #f3d7b7;
  }
  
  .header-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-right {
    display: flex;
    gap: 30px;
  }
  
  .header-right a {
    color: black;
    font-weight: 700;
    text-decoration: none;
  }
  
  .header-right a:hover {
    color: red;
  }
  
  /* Hero Styles  */
  
  .hero {
    height: 800px;
    background-color: #f3d7b7;
    padding: 100px 0;
    padding-top: 200px;
  }
  
  .hero-parent {
    gap: 100px;
    display: flex;
    justify-content: space-between;
  }
  
  .hero-left h1 {
    font-size: 64px;
  }
  
  .hero-left p {
    color: gray;
    line-height: 24px;
    margin: 30px 0;
  }
  
  .hero-left button {
    background-color: #0a775f;
    padding: 20px 35px;
    border-radius: 100px;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .hero-right {
    margin-right: -50px;
    position: relative;
  }
  
  .hero-right .img2 {
    position: absolute;
    top: -100px;
    left: -100px;
  }
  .our-parent {
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
  }
  
  .hh2 {
    text-align: center;
    margin: 40px 0;
    margin-top: 125px;
    font-size: 50px;
    color: #000;
  }
  .our-right h3 {
    font-size: 48px;
    padding: 30px 0;
    color: #000;
  }
  .our-right p {
    font-size: 22px;
    color: #000;
  }
  
  .footer-center a{
    color: black;
    font-weight: 700;
    text-decoration: none;
  }

  .footer-center a:hover{
color: red;
  }  

  .footer-parent{
display: flex;
justify-content: center;
align-items: center;
gap: 200px;
  }
.footer-right{
display: flex;
gap: 25px;
}
footer{
background-color: #f3d7b7 ;
padding: 50px;
margin-top: 100px;

}

.footer-center{
    display: flex;
    gap: 25px;
}